<script src="/scripts/commons.js"></script>

<header>
    <nav class="nav">
        <div class="left-part">
            <a href="/"> <img src="/images/logo.PNG" alt="Logo" heigth="160" width="160"> </a>
            <h1 class="festival-date"><%= festivalDate %></h1>
        </div>

        <section class="links">
            <ul class="linkss">
                <li><a href="/">Home</a></li>  
                <li><a href="/lineup">Lineup</a></li> 
                <li><a href="/stages">Stages</a></li> 
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/activity">Game</a></li> 
                <li><a href="/contact">Contact</a></li> 
            </ul>
            <div class="menu-icon"><i class="fa fa-bars"></i></div>
        </section>
    </nav>
</header>