
<%- include('partials/layout') %>
<link rel="stylesheet" href="/css/index.css">

    
    <%- include('partials/header') %>

    <main>
        <h1 class="title">Coastal Groove Festival</h1>
        <h2 class="theme">This year's theme: <br> Ocean Beats and Sunset Melodies</h2>
        <h2 class="location">Located at Sunset Cove Amphitheater, Florida</h2>
        <div class="banners">
            <img class="banner" src="/images/crowd1.jpg" alt="Festival crowd in front of stage" height="250" width="400">
            <img class="banner" src="/images/crowd2.jpg" alt="Festival crowd in front of bright stage" height="250" width="400">
            <img class="banner" src="/images/crowd3.jpg" alt="Festival crowd taking pictures of fireworks" height="250" width="400">
        </div>
        <p class="description">The Coastal Groove Festival embraces its seaside location, offering attendees the experience of live music with the soothing backdrop of the ocean. The theme, "Ocean Beats and Sunset Melodies," aligns perfectly with the coastal setting, creating a unique and memorable atmosphere as the music blends with the natural beauty of the Pacific Ocean. The Sunset Cove Amphitheater provides a stunning vantage point for both the artists on stage and the audience, making it a truly immersive experience.</p>
        <a href="/lineup" class="lineup"><h1>VIEW THIS YEAR'S LINEUP</h1></a>


        <section class="stages">
            <h1 class="section-title">Different stages</h1>
            <p class="section-desc">Here at Coastal Groove we have different stages for every taste!</p>
            <div class="stage-wrapper">

                <div class="stage">
                    <img src="/images/snap1.jpg" alt="People gathering at concert during night time" height="500" width="375">
                    <div class="overlay">
                        <a href="/stages">LEARN MORE</a>
                    </div>
                    <h3 class="stage-title">Main Stage</h3>
                </div>

                <div class="stage">
                    <img src="/images/snap2.jpg" alt="People watching band on stage " height="500" width="375">
                    <div class="overlay">
                        <a href="/stages">LEARN MORE</a>
                    </div>
                    <h3 class="stage-title">Acoustic Cove Lounge</h3>
                </div>

                <div class="stage">
                    <img src="/images/snap3.jpg" alt="People recording purple stage with confetti" height="500" width="375">
                    <div class="overlay">
                        <a href="/stages">LEARN MORE</a>
                    </div>
                    <h3 class="stage-title">Electro Tide Arena</h3>
                </div>
            </div>
        </section>

        <section class="activities">
            <h1 class="section-title">Things to do while visiting:</h1>
            <p class="section-desc">Good times beyond the stages. </p>

            <div class="activities-wrapper">
                <div class="activity">
                    <img src="/images/hikers.jpg" class="activity-image" alt="People hiking in nature" height="400" width="400">
                    <h2 class="activity-title">Nature Trail Adventure</h2>
                    <p class="activity-desc">Embark on a scenic nature trail adventure. Explore the festival grounds, discover hidden gems, and connect with nature.</p>
                </div>
                
                <div class="activity">
                    <img src="/images/photobooth.jpg" class="activity-image" alt="People posing in a photo booth" height="400" width="400">
                    <h2 class="activity-title">Festival Photo Booth</h2>
                    <p class="activity-desc">Strike a pose in our festival-themed photo booth. Capture memorable moments with friends, and share your festival experience on social media.</p>
                </div>
                
                <div class="activity">
                    <img src="/images/foodtruck.jpg" class="activity-image" alt="Food truck with various cuisines" height="400" width="400">
                    <h2 class="activity-title">Global Flavors Street</h2>
                    <p class="activity-desc">Indulge in a culinary journey at our Global Flavors Street. Experience diverse cuisines from around the world, served fresh at food trucks.</p>
                </div>
                
                <div class="activity">
                    <img src="/images/artsncrafts.jpg" class="activity-image" alt="People crafting and making DIY projects" height="400" width="400">
                    <h2 class="activity-title">Crafting Oasis</h2>
                    <p class="activity-desc">Unleash your creativity at the Crafting Oasis. Engage in DIY projects, create festival-inspired crafts, and express your artistic side.</p>
                </div>
                
                <div class="activity">
                    <img src="/images/vinyls.jpg" class="activity-image" alt="People browsing vinyl records in a store" height="400" width="400">
                    <h2 class="activity-title">Vinyl Wonderland</h2>
                    <p class="activity-desc">Explore the world of vinyl at our music-themed store. Discover rare records, vintage finds, and exclusive festival releases.</p>
                </div>
                
                <div class="activity">
                    <img src="/images/activism.jpg" class="activity-image" alt="Volunteers promoting eco-friendly initiatives" height="400" width="400">
                    <h2 class="activity-title">Eco-Friendly Hub</h2>
                    <p class="activity-desc">Join our eco-friendly initiatives. Learn about sustainable practices, participate in green activities, and contribute to a cleaner festival environment.</p>
                </div>
                
            </div>
            
        </section>

        <section class="game-wrapper">
            <h1 class="game-title">Harmony Hues</h1>
            <p class="game-desc">At Coastal Groove Fest, we believe that the magic of music extends beyond just auditory sensations—it's a multi-sensory experience. To enhance the festival spirit, we've introduced the 'Harmony Hues' game on our website. This interactive color matching game is designed to resonate with the vibrant and diverse genres of music featured at the festival.</p>
            <h2 class="gamebtn"><a href="/activity">PLAY NOW</a></h2>
        </section>

        <section class="questions">
            <h1>If you have any questions:</h1>
            <h2>Refer to our <a href="/faq">FAQ</a> page OR <a href="/contact">Contact Us</a></h2>
        </section>
        
    </main>

    <%- include('partials/footer') %>
